
* { box-sizing: border-box; } 

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: white;
  max-width: 1200px;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 300px;
  height: 300px;
  // background: #C09;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 { width: 300px; }
.grid-item--height2 { height: 300px; }

.grid-item--width3 { width: 250px; }
.grid-item--height3 { height: 300px; }

.grid-item:hover {
  border-color: hsla(0, 0%, 100%, 0.5);
  cursor: move;
}

.grid-item.ui-draggable-dragging,
.grid-item.is-positioning-post-drag {
  background: #C90;
  z-index: 2;
}

.packery-drop-placeholder {
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}
.container{

    display: block;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    // border:2px solid rgb(223, 220, 226);
    // border{
        
    //     top: 1px;
    //     bottom: 2px;
    // } 
}
#colseBtn{
  position: absolute;
  right: 18px;
  bottom: 20px;
  width: 70px;
  height: 30px;
  font-size: 15px;
  border-radius: 3.6px;
  visibility: hidden;
  cursor: pointer;
    outline: none;
  // margin-top:7px;
  
}
// #colseBtn:focus{
//   // outline: none;
//   // &:hover{
//   //   background-color: hsla(0, 0%, 0%, 0.5);
//   // }
// }
#colorImg{
    font-size: 30px;
    visibility: hidden;
    margin-top:7px;
    &:hover{
      cursor: move;
      #selectColor{
        visibility: visible;
      }
    }
}
#txtTitle{
    visibility: hidden;
    
    
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
#selectColor{
  visibility: hidden;
}
// #oneInputGroup sideIcon{
//   visibility: hidden;

// }
// #addInput:hover{
//   // #listIcon{
//   //   visibility: visible;
//   // }
//   background-color: red;
// }


  form.create-note{
    position: relative;
    width: 480px;
    margin: 15px auto;
    // background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 5px #ccc;
  }
  form.create-note input,{
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.6em;
  }
  // form.create-note button{
  //   position: absolute;
  //   right: 18px;
  //   bottom: -18px;
  //   background: #41b883;
  //   color: #fff;
  //   border: none;
  //   border-radius: 50%;
  //   width: 36px;
  //   height: 36px;
  //   box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  //   cursor: pointer;
  //   outline: none;
  // }