* { box-sizing: border-box; } 

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #DDD;
  max-width: 1200px;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 100px;
  height: 100px;
  background: #C09;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 { width: 200px; }
.grid-item--height2 { height: 200px; }

.grid-item:hover {
  border-color: hsla(0, 0%, 100%, 0.5);
  cursor: move;
}

.grid-item.ui-draggable-dragging,
.grid-item.is-positioning-post-drag {
  background: #C90;
  z-index: 2;
}

.packery-drop-placeholder {
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}
.container{

    display: block;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    // border:2px solid rgb(223, 220, 226);
    // border{
        
    //     top: 1px;
    //     bottom: 2px;
    // } 
}
#colseBtn{
    float: right;
  padding: 10px;
  visibility: hidden;
  margin-top:7px;
}
// #colseBtn:focus{
//   // outline: none;
//   // &:hover{
//   //   background-color: hsla(0, 0%, 0%, 0.5);
//   // }
// }
#colorImg{
    font-size: 30px;
    visibility: hidden;
    margin-top:7px;
    &:hover{
      #selectColor{
        visibility: visible;
      }
    }
}
#txtTitle{
    visibility: hidden;
    
    
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
#selectColor{
  visibility: hidden;
}
// #oneInputGroup sideIcon{
//   visibility: hidden;

// }
// #addInput:hover{
//   // #listIcon{
//   //   visibility: visible;
//   // }
//   background-color: red;
// }